:root{
    --overlay: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    --form-bg: #fff;
    --shadow1: 0 0 20px 9px #ff61241f;
    --shadow2: 0 0 20px 0 #7f7f7f3d;
    --background-shade: linear-gradient(to right, #2f5ac7, #6eead9);
    --txt-color: #777;
    --border-color: 1px solid #999;
    --trans: 0.5s;
}



@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Caveat:wght@400;500;600;700&family=Clicker+Script&family=Exo:wght@100;200;300;400;500;600;700;800&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;700;900&family=Srisakdi:wght@400;700&display=swap');



/* ========================= Common CSS Start ========================== */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

ul,ol{
    list-style-type: none;
}

.container{
    width: 380px;
    margin: 106px auto;
}

/* ========================= Common CSS End ============================ */




/* ========================== Main CSS Start ======================= */

.signup-back{
    width: 100%;
    height: 100%;
    background-image: var(--overlay),url(../images/signup.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.signup-back .form-box{
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: var(--form-bg);
    padding: 5px;
    overflow: hidden;
}

.signup-back .form-box .button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: var(--shadow1);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.signup-back .form-box .button-box #btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: var(--background-shade);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.signup-back .form-box .button-box .toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.signup-back .form-box .social-icons{
    margin: 30px auto;
    text-align: center;
}

.signup-back .form-box .social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: var(--shadow2);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.signup-back .form-box .input-group{
    position: absolute;
    top: 180px;
    width: 280px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

.signup-back .form-box .input-group .input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: var(--border-color);
    outline: none;
    background: transparent;
}

.signup-back .form-box .input-group .submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: var(--background-shade);
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.signup-back .form-box .input-group .check-box{
    margin: 30px 10px 30px 0;
}

.signup-back .form-box .input-group span {
	color: var(--txt-color);
	font-size: 13px;
	position: absolute;
	bottom: 65px;
}

.signup-back .form-box #login{
    left: 50px;
}

.signup-back .form-box #signup{
    left: 450px;
}

/* =========================== Main CSS End ======================== */