@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Caveat:wght@400;500;600;700&family=Clicker+Script&family=Exo:wght@100;200;300;400;500;600;700;800&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Kaushan+Script&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;700;900&family=Srisakdi:wght@400;700&display=swap');



:root{
    --bbg:rgb(51, 51, 51);
    --dbg:rgb(65, 65, 65);
    --trans: all 0.4s ease;
    --white-txt: #fff;
    --menu-hover:#ffb3b3;
    --background-shade: linear-gradient(to right, #3d0002, #a55353);
    --dark-primary: #3d0002;
    --logo-txt-color: goldenrod;
    --banner-overlay: rgba(0, 0, 0, 0.781);
    --shadow: 0px 0px 12px 1px #FFB3B3;
    --shadow-white: 0px 0px 12px 1px #fff;
}



/* ========================= Common CSS Start ========================== */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

ul,ol{
    list-style-type: none;
}

/* ========================= Common CSS End ============================ */



/* ========================== Main CSS Start ============================ */

body{
    background-color: var(--bbg);
    color: var(--white-txt);
}


#update{
    margin-top: 8rem;
}

#update .up-body .heading h3{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

#update .up-body .up-item .item{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
    margin-bottom: 5rem;
    margin-top: 15px;
}


#update .up-body .up-item .item .left .title h3{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 10px;
}

#update .up-body .up-item .item .left .description p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 13px;
    line-height: 28px;
    padding-right: 30px;
}

#update .up-body .up-item .item .left .description .like{
    display: flex;
    margin-bottom: -1rem;
    gap: 0.7rem;
}

#update .up-body .up-item .item .left .description .like p{
    font-size: 15px;
    font-weight: 600;
    margin-right: -17px;
}

#update .up-body .up-item .item .left .description textarea{
    padding: 6px;
    background: transparent !important;
    resize: none;
}


#update .up-body .up-item .item .left .description .t-item{
    display: flex;
    margin-bottom: -6px;
}

#update .up-body .up-item .item .left .description .t-item h4{
    font-size: 15px;
    margin-left: 1rem;
}


#update .up-body .up-item #l-item{
   padding-bottom: 55px;
}


#update .up-body .up-item .item .right img{
    width: 100%;
}

#update .up-body .up-item .item .left .description .btn{
    margin-top: 12px;
}

#update .up-body .up-item .item .left .description .btn a{
    color: var(--white-txt);
    font-weight: 600;
    font-size: 15px;
    background: var(--background-shade);
    padding: 8px 18px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
}

#update .up-body .up-item .item .left .description .btn a:hover{
    background: transparent;
    border: 1px solid var(--menu-hover);
}

.like_icon{
    padding-top: 0.2rem;
    display: flex;
    gap: 1rem;
}